@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family:title-font;
  src: url(../styles/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family:sub-title-font;
  src: url(../styles/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family:body-font;
  src: url(../styles/Poppins/Poppins-Regular.ttf);
  font-size: 15px;
}
body {
  height: 100%;
  margin: 0;
  background:#fff;
  font-family:body-font;
}
h1, h2{
	font-family:title-font;
}
h3, h4, h5, h6{
	font-family:sub-title-font;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
